<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>
<h2>Order data</h2>
<ul>
  <li>Order number - <span th:text="${order.getId()}"></span></li>
  <li>Customer name - <span th:text="${order.getCustomerDTO().getName()}"></span></li>
  <li>Address - <span th:text="${order.getAddress()}"></span></li>
  <li>
    Order list:
    <ul th:each="product : ${order.getOrderList()}">
      <li th:text="${product.getTitle()} + ' (' + ${product.getDescription()} + ')'"></li>
    </ul>
  </li>
</ul>
</body>
</html>
